@charset "utf-8";
/* CSS Document */


/* FrontEnd css */

	#bonus_video {
		display: block;
		background-color: transparent;
		height:auto;
		width:auto;
		margin: 0 auto;
		padding: 0;
		}
		
	#video1 {
		display: block;
		background-color: transparent;
		height:auto;
		width:auto;
		margin: 0 auto;
		padding: 0;
		}
		
	#video2 {
		display: block;
		background-color: transparent;
		height:auto;
		width:auto;
		margin: 0 auto;
		padding: 0;
		}
		
	#video3 {
		display: block;
		background-color: transparent;
		height:auto;
		width:auto;
		margin: 0 auto;
		padding: 0;
		}
