@charset "utf-8";
/* CSS Document */


/* FrontEnd css */

#video1 {
		Display: block;
		background-color: transparent;
		height:auto;
		width:100%;
		margin: 0 auto;
		padding: 0;
}
#center1 {
		margin: 0 auto;
		text-align: center !important;
  		width:100%;
	}